<div class="wrapper-section">
    <div class="title">One Way Binding</div>
    <div class="content">
        <OneWayBindingChild Message="@Message"/>
    </div>
</div>

<style>
    .wrapper-section{
        background-color: #2b2f32;
        border-radius: 8px;
        padding: 8px;
        color: white;
    }
</style>